
* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --cor1: #0098E5;
    --cor2: #1A0A2E;
    --cor3: #FFFFFF;
    --cor4: #0A0A1A;

    --font1: "Sora", sans-serif;
    --font2: "Hanken Grotesk", sans-serif;
    --font3: "JetBrains Mono", monospace;
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor2));
    color: var(--cor3);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 5px;
    text-decoration: none;
}

nav a {
     text-decoration: none;
     color: var(--cor3);
}

main {
    background-image: url(img/void-76yi7dw0zv654mzb.jpg);
}

#card {
    border-radius: 10px;
    padding: 40px;
    max-width: 700px;
    margin: 40px auto;
}

#perfil img {
    height: 300px;
    width: 300px;
}